body{
    margin: 0;
    background-color: #1f1e1e;
}

header{
    display: flex;
    background-color: #39393b;
    justify-content: space-between;
    padding: 0px 20px;
}


.menu,.descriptions,.descriptions2{
    display: flex;
    align-items: center;
    list-style: none;
}

li a{
    text-decoration: none;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 200;
}

h1{
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900
}

li{
    padding: 8px 12px;
    cursor: pointer;
    color: white;
    background-color: #39393b;
    font-family: 'Noto Sans KR', sans-serif;
}

.descriptions,.descriptions2{
    justify-content: center;
    padding-left: 0;
}

.des{
    margin: 16px 24px;
    padding: 16px 24px;
    border-radius: 48px;
    font-size: 24px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    box-shadow: 5px 6px 2px #000000;
    transition: 0.5s;
}

.des:hover{
    background-color: #2b2b2c;
}

.modal{
    background-color: #39393b;
    text-align: center;
    padding: 50px 0px;
    margin: 8px 50px;
    border-radius: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 22px;
    box-shadow: 5px 6px 2px #000000;
}

.discord{
    color: white;
    font-size: 24px;
}

.hide{
    display: none;
}

.men{
    transition: 0.5s;
    border-radius: 30px;
    margin: 0 4px;
}

.men:hover{
    background-color: #000000;
}

footer{
    background-color: #2b2b2c;
    position: fixed;
    font-family: 'Noto Sans KR', sans-serif;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 8px 24px;
    color: white;
}

footer h2{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
    font-weight: 900;
    margin: 0;
}

footer p{
    margin: 0;
    padding: 0;
}

footer a{
    color: white;
}


.profile{
    width: 200px;
    border-radius: 100px;
    display: block;
    justify-content: center;
    margin: 0 auto;
    margin-top: 70px;
}

.info{
    background-color: #2b2b2c;
    display: block;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    padding: 8px 12px;
    border-radius: 20px;
}

.info h5{
    font-size: 28px;
    font-weight: 900;
}

.info p{
    font-size: 18px;
}

hr{
    width: 80%;
    border: thin double #39393b;
    margin-top: 70px;
}

.hide{
    display: none;
}

.jobs{
    display: flex;
}

.recruit{
    background-color: #39393b;
    margin: 20px 50px;
    width: 500px;
    text-align: center;
    border-radius: 20px;
    color: white;
    box-shadow: 5px 6px 2px #111111;
    font-family: 'Noto Sans KR', sans-serif;
    transition: 0.5s;
    margin-top: 100px;
    cursor: pointer;
}

.on{
    background-color: #545455;
}

.on:hover{
    background-color: #707070;
}

.finish{
    background-color: #2c2c2c;
}

.finish:hover{
    background-color: #333333;
}

.halt{
    background-color: black;
}

.halt:hover{
    background-color: rgb(27, 27, 27);
}

.job_title{
    font-size: 24px;
    margin-bottom: 0;
}

.job{
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 0;
    font-weight: 100;
    font-size: 12px;
    color: rgb(206, 206, 206);
}

.Jobmodal{
    background-color: #2c2c2c;
    color: white;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    margin-top: 100px;
    padding: 30px 60px;
    border-radius: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 100px;
}

.apply{
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 8px 12px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;
    background-color: white;
    color: #111111;
    text-decoration: none;
}

.apply:hover{
    background-color: #b1b1b1;
}

.jobTitle{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    font-weight: 800;
}

.jobDes{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    margin-bottom: 50px;
}